{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Analytics Practice & Industry Resources</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Data Analytics Practice & Industry Resources</h1>
    <p class="subtitle">SQL • Excel • Power BI • Tableau • Python • Business Analytics</p>


    <section>
        <h2>Data Analytics Study & Learning Resources</h2>
        <ul>
            <li><a href="https://roadmap.sh/data-analyst" target="_blank">Data Analyst Roadmap 2025</a></li>
            <li><a href="https://www.kaggle.com/learn" target="_blank">Kaggle Learn (Data Analysis)</a></li>
            <li><a href="https://learn.microsoft.com/en-us/training/powerplatform/power-bi/" target="_blank">Microsoft Power BI Learning</a></li>
            <li><a href="https://www.tableau.com/learn/training" target="_blank">Tableau Official Training</a></li>
            <li><a href="https://www.analyticsvidhya.com" target="_blank">Analytics Vidhya</a></li>
            <li><a href="https://towardsdatascience.com" target="_blank">Towards Data Science</a></li>
            <li><a href="https://www.coursera.org" target="_blank">Coursera (Google Data Analytics)</a></li>
            <li><a href="https://www.edx.org" target="_blank">edX (IBM & Harvard Analytics)</a></li>
            <li><a href="https://www.udemy.com" target="_blank">Udemy (Data Analyst Bootcamps)</a></li>
            <li><a href="https://www.w3schools.com/sql/" target="_blank">W3Schools SQL</a></li>
            <li><a href="https://mode.com/sql-tutorial/" target="_blank">Mode SQL Tutorial</a></li>
            <li><a href="https://sqlzoo.net/" target="_blank">SQLZoo (Interactive SQL)</a></li>
            <li><a href="https://realpython.com/tutorials/data-analysis/" target="_blank">Real Python – Data Analysis</a></li>
            <li><a href="https://pandas.pydata.org/docs/" target="_blank">Pandas Official Documentation</a></li>
            <li><a href="https://www.storytellingwithdata.com" target="_blank">Storytelling with Data</a></li>
        </ul>
    </section>


    <section>
        <h2>Data Analytics Practice Platforms</h2>
        <ul>
            <li><a href="https://www.kaggle.com/datasets" target="_blank">Kaggle Datasets</a></li>
            <li><a href="https://www.kaggle.com/competitions" target="_blank">Kaggle Analytics Competitions</a></li>
            <li><a href="https://www.stratascratch.com" target="_blank">StrataScratch (Real SQL Problems)</a></li>
            <li><a href="https://leetcode.com/problemset/database/" target="_blank">LeetCode SQL</a></li>
            <li><a href="https://www.hackerrank.com/domains/sql" target="_blank">HackerRank SQL</a></li>
            <li><a href="https://pgexercises.com" target="_blank">SQL Practice Exercises</a></li>
            <li><a href="https://www.mavenanalytics.io" target="_blank">Maven Analytics Challenges</a></li>
            <li><a href="https://www.datawars.io" target="_blank">DataWars</a></li>
            <li><a href="https://www.codebasics.io" target="_blank">Codebasics (Business Analytics)</a></li>
            <li><a href="https://www.openml.org" target="_blank">OpenML Datasets</a></li>
            <li><a href="https://www.mode.com" target="_blank">Mode Analytics SQL Labs</a></li>
            <li><a href="https://www.kdnuggets.com" target="_blank">KD Nuggets Practice Blogs</a></li>
        </ul>
    </section>


    <section>
        <h2>Data Analytics Competitions & Case Studies</h2>
        <ul>
            <li><a href="https://www.kaggle.com/competitions" target="_blank">Kaggle Case Studies</a></li>
            <li><a href="https://www.mavenanalytics.io/challenges" target="_blank">Maven Analytics Challenges</a></li>
            <li><a href="https://www.stratascratch.com" target="_blank">StrataScratch Business Cases</a></li>
            <li><a href="https://www.datacamp.com/projects" target="_blank">DataCamp Projects</a></li>
            <li><a href="https://www.analyticsvidhya.com/blog/" target="_blank">Analytics Vidhya Case Studies</a></li>
            <li><a href="https://towardsdatascience.com" target="_blank">Real-World Analytics Stories</a></li>
            <li><a href="https://github.com" target="_blank">GitHub Analytics Projects</a></li>
        </ul>
    </section>


    <section>
        <h2>Data Analytics Jobs – India</h2>
        <ul>
            <li><a href="https://www.instahyre.com/data-analyst-jobs/" target="_blank">Instahyre</a></li>
            <li><a href="https://www.hirist.com/c/data-analytics-jobs.html" target="_blank">Hirist</a></li>
            <li><a href="https://cutshort.io" target="_blank">CutShort</a></li>
            <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn India</a></li>
            <li><a href="https://www.naukri.com/data-analyst-jobs" target="_blank">Naukri</a></li>
            <li><a href="https://www.indeed.co.in" target="_blank">Indeed India</a></li>
            <li><a href="https://wellfound.com" target="_blank">Wellfound (AngelList)</a></li>
        </ul>
    </section>


    <section>
        <h2>Global & Remote Data Analytics Portals</h2>
        <ul>
            <li><a href="https://www.turing.com/jobs/data-analyst" target="_blank">Turing</a></li>
            <li><a href="https://remoteok.io/remote-data-analytics-jobs" target="_blank">Remote OK</a></li>
            <li><a href="https://weworkremotely.com" target="_blank">We Work Remotely</a></li>
            <li><a href="https://arc.dev/remote-jobs/data-analytics" target="_blank">Arc.dev</a></li>
            <li><a href="https://www.flexjobs.com" target="_blank">FlexJobs</a></li>
            <li><a href="https://www.glassdoor.com" target="_blank">Glassdoor</a></li>
            <li><a href="https://www.simplyhired.com" target="_blank">SimplyHired</a></li>
        </ul>
    </section>


    <section>
        <h2>Top Data Analytics Companies – India</h2>
        <ul>
            <li><a href="https://careers.flipkart.com" target="_blank">Flipkart</a></li>
            <li><a href="https://careers.swiggy.com" target="_blank">Swiggy</a></li>
            <li><a href="https://careers.zomato.com" target="_blank">Zomato</a></li>
            <li><a href="https://careers.phonepe.com" target="_blank">PhonePe</a></li>
            <li><a href="https://www.fractal.ai/careers/" target="_blank">Fractal Analytics</a></li>
            <li><a href="https://www.mu-sigma.com/careers" target="_blank">Mu Sigma</a></li>
            <li><a href="https://www.tcs.com/careers" target="_blank">TCS</a></li>
            <li><a href="https://www.infosys.com/careers" target="_blank">Infosys</a></li>
            <li><a href="https://www.wipro.com/careers" target="_blank">Wipro</a></li>
            <li><a href="https://www.accenture.com/in-en/careers" target="_blank">Accenture</a></li>
        </ul>
    </section>


    <section>
        <h2>Top Data Analytics Companies – Global / Big Tech</h2>
        <ul>
            <li><a href="https://www.google.com/about/careers" target="_blank">Google</a></li>
            <li><a href="https://www.amazon.jobs" target="_blank">Amazon</a></li>
            <li><a href="https://careers.microsoft.com" target="_blank">Microsoft</a></li>
            <li><a href="https://careers.meta.com" target="_blank">Meta</a></li>
            <li><a href="https://www.apple.com/careers/" target="_blank">Apple</a></li>
            <li><a href="https://careers.netflix.com" target="_blank">Netflix</a></li>
            <li><a href="https://careers.uber.com" target="_blank">Uber</a></li>
            <li><a href="https://www.salesforce.com/company/careers/" target="_blank">Salesforce</a></li>
            <li><a href="https://www.ibm.com/careers" target="_blank">IBM</a></li>
            <li><a href="https://careers.airbnb.com" target="_blank">Airbnb</a></li>
        </ul>
    </section>

</main>

</body>
</html>
