{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DevOps Open Source Ecosystem</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>DevOps Open Source Ecosystem</h1>
    <p class="subtitle">CI/CD • Containerization • Orchestration • Monitoring • Configuration Management • Cloud</p>

<!-- ========================= -->
<!-- CI/CD TOOLS -->
<!-- ========================= -->
<section>
    <h2>CI/CD Tools</h2>
    <ul>
        <li><a href="https://www.jenkins.io/" target="_blank">Jenkins</a></li>
        <li><a href="https://circleci.com/" target="_blank">CircleCI</a></li>
        <li><a href="https://travis-ci.org/" target="_blank">Travis CI</a></li>
        <li><a href="https://github.com/actions" target="_blank">GitHub Actions</a></li>
        <li><a href="https://gitlab.com/gitlab-org/gitlab-ci-cd" target="_blank">GitLab CI/CD</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- CONTAINERIZATION -->
<!-- ========================= -->
<section>
    <h2>Containerization</h2>
    <ul>
        <li><a href="https://www.docker.com/" target="_blank">Docker</a></li>
        <li><a href="https://podman.io/" target="_blank">Podman</a></li>
        <li><a href="https://buildah.io/" target="_blank">Buildah</a></li>
        <li><a href="https://containerd.io/" target="_blank">containerd</a></li>
        <li><a href="https://cri-o.io/" target="_blank">CRI-O</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- ORCHESTRATION -->
<!-- ========================= -->
<section>
    <h2>Orchestration</h2>
    <ul>
        <li><a href="https://kubernetes.io/" target="_blank">Kubernetes</a></li>
        <li><a href="https://www.nomadproject.io/" target="_blank">HashiCorp Nomad</a></li>
        <li><a href="https://www.openshift.com/" target="_blank">OpenShift</a></li>
        <li><a href="https://rancher.com/" target="_blank">Rancher</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- CONFIGURATION MANAGEMENT -->
<!-- ========================= -->
<section>
    <h2>Configuration Management</h2>
    <ul>
        <li><a href="https://www.ansible.com/" target="_blank">Ansible</a></li>
        <li><a href="https://www.puppet.com/" target="_blank">Puppet</a></li>
        <li><a href="https://www.chef.io/" target="_blank">Chef</a></li>
        <li><a href="https://saltproject.io/" target="_blank">SaltStack</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- MONITORING & LOGGING -->
<!-- ========================= -->
<section>
    <h2>Monitoring & Logging</h2>
    <ul>
        <li><a href="https://prometheus.io/" target="_blank">Prometheus</a></li>
        <li><a href="https://grafana.com/" target="_blank">Grafana</a></li>
        <li><a href="https://www.elastic.co/elastic-stack" target="_blank">ELK Stack (Elasticsearch, Logstash, Kibana)</a></li>
        <li><a href="https://www.zabbix.com/" target="_blank">Zabbix</a></li>
        <li><a href="https://www.datadoghq.com/" target="_blank">Datadog (Open Core / SaaS)</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- CLOUD & INFRASTRUCTURE -->
<!-- ========================= -->
<section>
    <h2>Cloud & Infrastructure</h2>
    <ul>
        <li><a href="https://www.terraform.io/" target="_blank">Terraform</a></li>
        <li><a href="https://cloud.google.com/terraform" target="_blank">Terraform GCP Provider</a></li>
        <li><a href="https://aws.amazon.com/cloudformation/" target="_blank">AWS CloudFormation</a></li>
        <li><a href="https://azure.microsoft.com/en-us/services/resource-manager/" target="_blank">Azure ARM Templates</a></li>
        <li><a href="https://openstack.org/" target="_blank">OpenStack</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- ARTIFACT & PACKAGE MANAGEMENT -->
<!-- ========================= -->
<section>
    <h2>Artifact & Package Management</h2>
    <ul>
        <li><a href="https://www.jfrog.com/artifactory/" target="_blank">JFrog Artifactory</a></li>
        <li><a href="https://www.nexusrepository.com/" target="_blank">Sonatype Nexus</a></li>
        <li><a href="https://www.ansible.com/ansible-galaxy" target="_blank">Ansible Galaxy</a></li>
        <li><a href="https://pypi.org/" target="_blank">PyPI</a></li>
        <li><a href="https://www.npmjs.com/" target="_blank">npm</a></li>
    </ul>
</section>

<div class="page-end-line"></div>
<br><br>

</main>

</body>
</html>
