{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java Jobs & Companies – Global & India</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Java Jobs & Companies – Global & India</h1>
    <p class="subtitle">Job Portals • Companies Using Java • Java Startups • India & Other Countries</p>

<!-- ========================= -->
<!-- INDIA JOB PORTALS -->
<!-- ========================= -->
<section>
    <h2>India Job Portals</h2>
    <ul>
        <li><a href="https://www.naukri.com/" target="_blank">Naukri</a></li>
        <li><a href="https://in.linkedin.com/jobs/java-jobs" target="_blank">LinkedIn India Java Jobs</a></li>
        <li><a href="https://in.indeed.com/q-java-jobs-in-india-jobs.html" target="_blank">Indeed India Java Jobs</a></li>
        <li><a href="https://internshala.com/" target="_blank">Internshala – Intern & Entry Jobs</a></li>
        <li><a href="https://cutshort.io/" target="_blank">CutShort – Tech Hiring</a></li>
        <li><a href="https://www.apna.co/" target="_blank">Apna</a></li>
        <li><a href="https://www.timesascent.com/" target="_blank">TimesAscent</a></li>
        <li><a href="https://freshersworld.com/" target="_blank">FreshersWorld</a></li>
        <li><a href="https://www.shine.com/" target="_blank">Shine</a></li>
        <li><a href="https://www.f6s.com/jobs/java-jobs-in-india" target="_blank">F6S – Java Jobs (India)</a></li>
        <li><a href="https://www.monsterindia.com/" target="_blank">Monster India</a></li>
        <li><a href="https://placementindia.com/" target="_blank">Placement India</a></li>
        <li><a href="https://mycareersfuture.gov.in/" target="_blank">My Career Future</a></li>
        <li><a href="https://timesjobs.com/" target="_blank">TimesJobs India</a></li>
        <li><a href="https://internshala.com/jobs/java-jobs/job/" target="_blank">Internshala Java Jobs</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- OTHER COUNTRY JOB PORTALS -->
<!-- ========================= -->
<section>
    <h2>Other Country Job Portals</h2>
    <ul>
        <li><a href="https://jooble.org/" target="_blank">Jooble – Global Job Search</a></li>
        <li><a href="https://www.indeed.com/" target="_blank">Indeed Global</a></li>
        <li><a href="https://www.linkedin.com/jobs/" target="_blank">LinkedIn Global Jobs</a></li>
        <li><a href="https://www.glassdoor.com/Job/jobs.htm" target="_blank">Glassdoor Jobs</a></li>
        <li><a href="https://www.monster.com/" target="_blank">Monster Global</a></li>
        <li><a href="https://www.adzuna.co.uk/" target="_blank">Adzuna</a></li>
        <li><a href="https://www.ziprecruiter.com/" target="_blank">ZipRecruiter</a></li>
        <li><a href="https://www.themuse.com/jobs" target="_blank">The Muse Jobs</a></li>
        <li><a href="https://www.simplyhired.com/" target="_blank">SimplyHired</a></li>
        <li><a href="https://remote.co/remote-jobs/developer/" target="_blank">Remote.co Developer Jobs</a></li>
        <li><a href="https://weworkremotely.com/" target="_blank">We Work Remotely</a></li>
        <li><a href="https://stackoverflow.com/jobs" target="_blank">StackOverflow Jobs</a></li>
        <li><a href="https://angel.co/jobs" target="_blank">AngelList Jobs</a></li>
        <li><a href="https://techcareers.com/" target="_blank">TechCareers</a></li>
        <li><a href="https://jobs.github.com/" target="_blank">GitHub Jobs</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- INDIA COMPANIES WHERE JAVA IS USED -->
<!-- ========================= -->
<section>
    <h2>India Companies Where Java Is Used</h2>
    <ul>
        <li><a href="https://careers.tcs.com/" target="_blank">TCS Careers</a></li>
        <li><a href="https://careers.infosys.com/" target="_blank">Infosys Careers</a></li>
        <li><a href="https://www.wipro.com/en-IN/careers/" target="_blank">Wipro Careers</a></li>
        <li><a href="https://careers.hcltech.com/" target="_blank">HCLTech Careers</a></li>
        <li><a href="https://careers.techmahindra.com/" target="_blank">Tech Mahindra Careers</a></li>
        <li><a href="https://careers.larsentoubro.com/" target="_blank">L&T Careers</a></li>
        <li><a href="https://www.capgemini.com/in-en/careers/" target="_blank">Capgemini India Careers</a></li>
        <li><a href="https://www.oracle.com/in/corporate/careers/" target="_blank">Oracle India Careers</a></li>
        <li><a href="https://careers.microsoft.com/" target="_blank">Microsoft India Careers</a></li>
        <li><a href="https://www.amazon.jobs/en/locations/bengaluru" target="_blank">Amazon India Jobs</a></li>
        <li><a href="https://careers.google.com/locations/bangalore/" target="_blank">Google Bangalore Careers</a></li>
        <li><a href="https://www.ibm.com/in-en/employment/" target="_blank">IBM India Careers</a></li>
        <li><a href="https://www.sap.com/india/about/careers.html" target="_blank">SAP India Careers</a></li>
        <li><a href="https://www.cognizant.com/careers" target="_blank">Cognizant India Careers</a></li>
        <li><a href="https://www.adobe.com/careers.html" target="_blank">Adobe India Careers</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- JAVA‑USING STARTUPS IN INDIA -->
<!-- ========================= -->
<section>
    <h2>Java‑Using Startups in India</h2>
    <ul>
        <li><a href="https://www.razorpay.com/careers" target="_blank">Razorpay Careers</a></li>
        <li><a href="https://careers.byjus.com/" target="_blank">BYJU’S Careers</a></li>
        <li><a href="https://careers.swiggy.com/" target="_blank">Swiggy Careers</a></li>
        <li><a href="https://careers.olaelectric.com/" target="_blank">Ola Electric Careers</a></li>
        <li><a href="https://careers.inmobi.com/" target="_blank">InMobi Careers</a></li>
        <li><a href="https://careers.delhivery.com/" target="_blank">Delhivery Careers</a></li>
        <li><a href="https://careers.unacademy.com/" target="_blank">Unacademy Careers</a></li>
        <li><a href="https://www.instahyre.com/jobs/java" target="_blank">Instahyre Java Jobs</a></li>
        <li><a href="https://internshala.com/jobs/java-jobs" target="_blank">Internshala Java Jobs</a></li>
        <li><a href="https://www.f6s.com/startups" target="_blank">F6S Startups India</a></li>
        <li><a href="https://angel.co/india" target="_blank">AngelList India</a></li>
        <li><a href="https://jobs.lever.co" target="_blank">Lever – Startup Listings</a></li>
        <li><a href="https://workwithtech.com/" target="_blank">WorkwithTech – Startup Roles</a></li>
        <li><a href="https://angel.co/companies?country=India" target="_blank">AngelList India Companies</a></li>
        <li><a href="https://cutshort.io/jobs/java-developers" target="_blank">CutShort Java Roles</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- OTHER COUNTRY COMPANIES WHERE JAVA IS USED -->
<!-- ========================= -->
<section>
    <h2>Other Country Companies Where Java Is Used</h2>
    <ul>
        <li><a href="https://careers.google.com/" target="_blank">Google Careers</a></li>
        <li><a href="https://www.facebookcareers.com/" target="_blank">Meta Careers</a></li>
        <li><a href="https://careers.amazon.com/" target="_blank">Amazon Global Jobs</a></li>
        <li><a href="https://www.microsoft.com/en-us/careers" target="_blank">Microsoft Careers</a></li>
        <li><a href="https://www.apple.com/careers/" target="_blank">Apple Careers</a></li>
        <li><a href="https://www.salesforce.com/company/careers/" target="_blank">Salesforce Careers</a></li>
        <li><a href="https://www.netflixjobs.com/" target="_blank">Netflix Jobs</a></li>
        <li><a href="https://www.uber.com/global/en/careers/" target="_blank">Uber Careers</a></li>
        <li><a href="https://www.spotifyjobs.com/" target="_blank">Spotify Careers</a></li>
        <li><a href="https://www.airbnb.com/careers" target="_blank">Airbnb Careers</a></li>
        <li><a href="https://www.zoomcareers.com/" target="_blank">Zoom Careers</a></li>
        <li><a href="https://www.dropbox.com/jobs" target="_blank">Dropbox Careers</a></li>
        <li><a href="https://www.slack.com/careers" target="_blank">Slack Careers</a></li>
        <li><a href="https://www.adobe.com/careers.html" target="_blank">Adobe Careers</a></li>
        <li><a href="https://www.oracle.com/corporate/careers/" target="_blank">Oracle Global Jobs</a></li>
    </ul>
</section>

<!-- ========================= -->
<!-- JAVA‑USING STARTUPS OUTSIDE INDIA -->
<!-- ========================= -->
<section>
    <h2>Java‑Using Startups Outside India</h2>
    <ul>
        <li><a href="https://angel.co/company/stripe/jobs" target="_blank">Stripe Careers</a></li>
        <li><a href="https://angel.co/company/snowflake/jobs" target="_blank">Snowflake Careers</a></li>
        <li><a href="https://angel.co/company/airtable/jobs" target="_blank">Airtable Careers</a></li>
        <li><a href="https://angel.co/company/canva/jobs" target="_blank">Canva Careers</a></li>
        <li><a href="https://angel.co/company/databricks/jobs" target="_blank">Databricks Careers</a></li>
        <li><a href="https://angel.co/company/coinbase/jobs" target="_blank">Coinbase Careers</a></li>
        <li><a href="https://angel.co/company/fairphone/jobs" target="_blank">Fairphone Careers</a></li>
        <li><a href="https://angel.co/company/robinhood/jobs" target="_blank">Robinhood Careers</a></li>
        <li><a href="https://angel.co/company/duolingo/jobs" target="_blank">Duolingo Careers</a></li>
        <li><a href="https://angel.co/company/notion/jobs" target="_blank">Notion Careers</a></li>
        <li><a href="https://jobs.lever.co/figma" target="_blank">Figma Careers</a></li>
        <li><a href="https://jobs.lever.co/asana" target="_blank">Asana Careers</a></li>
        <li><a href="https://jobs.lever.co/zoom" target="_blank">Zoom Careers</a></li>
        <li><a href="https://jobs.lever.co/slack" target="_blank">Slack Careers</a></li>
        <li><a href="https://angel.co/company/gusto/jobs" target="_blank">Gusto Careers</a></li>
    </ul>
</section>

<div class="page-end-line"></div>

</main>

</body>
</html>
