{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Engineering Practice & Enterprise Resources</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Data Engineering Practice & Enterprise Resources</h1>
    <p class="subtitle">
        SQL • Python • ETL • Big Data • Spark • Cloud • Data Warehousing
    </p>


    <section>
        <h2>Data Engineering Core Learning (Highest Priority)</h2>
        <ul>
            <li><a href="https://roadmap.sh/data-engineer" target="_blank">Data Engineer Roadmap 2025</a></li>
            <li><a href="https://www.datacamp.com/tracks/data-engineer" target="_blank">DataCamp – Data Engineer Track</a></li>
            <li><a href="https://www.analyticsvidhya.com" target="_blank">Analytics Vidhya – Data Engineering</a></li>
            <li><a href="https://towardsdatascience.com/tagged/data-engineering" target="_blank">Towards Data Science – DE</a></li>
            <li><a href="https://www.kdnuggets.com" target="_blank">KD Nuggets – Data Engineering</a></li>
            <li><a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp – Data Engineering</a></li>
            <li><a href="https://www.coursera.org" target="_blank">Coursera (Google & IBM DE)</a></li>
            <li><a href="https://www.edx.org" target="_blank">edX – Big Data & DE Programs</a></li>
            <li><a href="https://realpython.com" target="_blank">Real Python (Data Pipelines)</a></li>
            <li><a href="https://docs.python.org/3/" target="_blank">Python Official Docs</a></li>
        </ul>
    </section>


    <section>
        <h2>SQL, Databases & Warehousing</h2>
        <ul>
            <li><a href="https://mode.com/sql-tutorial/" target="_blank">Mode SQL Tutorial</a></li>
            <li><a href="https://www.postgresql.org/docs/" target="_blank">PostgreSQL Documentation</a></li>
            <li><a href="https://dev.mysql.com/doc/" target="_blank">MySQL Documentation</a></li>
            <li><a href="https://www.geeksforgeeks.org/dbms/" target="_blank">GFG DBMS</a></li>
            <li><a href="https://www.vertabelo.com/blog/" target="_blank">Data Modeling & Warehousing</a></li>
            <li><a href="https://docs.snowflake.com" target="_blank">Snowflake Official Docs</a></li>
            <li><a href="https://cloud.google.com/bigquery/docs" target="_blank">Google BigQuery Docs</a></li>
            <li><a href="https://docs.aws.amazon.com/redshift/" target="_blank">AWS Redshift</a></li>
            <li><a href="https://learn.microsoft.com/en-us/azure/synapse-analytics/" target="_blank">Azure Synapse</a></li>
        </ul>
    </section>


    <section>
        <h2>Big Data & Distributed Systems</h2>
        <ul>
            <li><a href="https://spark.apache.org/docs/latest/" target="_blank">Apache Spark Documentation</a></li>
            <li><a href="https://hadoop.apache.org/docs/" target="_blank">Apache Hadoop</a></li>
            <li><a href="https://kafka.apache.org/documentation/" target="_blank">Apache Kafka</a></li>
            <li><a href="https://flink.apache.org/learn-flink/" target="_blank">Apache Flink</a></li>
            <li><a href="https://airflow.apache.org/docs/" target="_blank">Apache Airflow</a></li>
            <li><a href="https://docs.databricks.com" target="_blank">Databricks</a></li>
            <li><a href="https://beam.apache.org/documentation/" target="_blank">Apache Beam</a></li>
            <li><a href="https://www.confluent.io/learn/" target="_blank">Kafka by Confluent</a></li>
        </ul>
    </section>


    <section>
        <h2>ETL, Pipelines & Workflow Orchestration</h2>
        <ul>
            <li><a href="https://airflow.apache.org/docs/" target="_blank">Apache Airflow</a></li>
            <li><a href="https://www.getdbt.com/docs" target="_blank">dbt (Data Build Tool)</a></li>
            <li><a href="https://docs.prefect.io" target="_blank">Prefect</a></li>
            <li><a href="https://docs.astronomer.io" target="_blank">Astronomer</a></li>
            <li><a href="https://www.talend.com/resources/" target="_blank">Talend ETL</a></li>
            <li><a href="https://docs.aws.amazon.com/glue/" target="_blank">AWS Glue</a></li>
            <li><a href="https://learn.microsoft.com/en-us/azure/data-factory/" target="_blank">Azure Data Factory</a></li>
            <li><a href="https://cloud.google.com/dataflow/docs" target="_blank">Google Dataflow</a></li>
        </ul>
    </section>


    <section>
        <h2>Cloud Platforms for Data Engineering</h2>
        <ul>
            <li><a href="https://aws.amazon.com/big-data/" target="_blank">AWS Big Data Stack</a></li>
            <li><a href="https://cloud.google.com/data-engineering" target="_blank">Google Cloud Data Engineering</a></li>
            <li><a href="https://learn.microsoft.com/en-us/azure/architecture/data-guide/" target="_blank">Azure Data Architecture</a></li>
            <li><a href="https://docs.aws.amazon.com/emr/" target="_blank">AWS EMR</a></li>
            <li><a href="https://cloud.google.com/dataproc" target="_blank">Google Dataproc</a></li>
            <li><a href="https://learn.microsoft.com/en-us/azure/databricks/" target="_blank">Azure Databricks</a></li>
        </ul>
    </section>


    <section>
        <h2>Data Engineering Jobs – India</h2>
        <ul>
            <li><a href="https://www.instahyre.com/data-engineer-jobs/" target="_blank">Instahyre</a></li>
            <li><a href="https://www.hirist.com/c/data-engineer-jobs.html" target="_blank">Hirist</a></li>
            <li><a href="https://cutshort.io" target="_blank">CutShort</a></li>
            <li><a href="https://www.naukri.com/data-engineer-jobs" target="_blank">Naukri</a></li>
            <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn India</a></li>
            <li><a href="https://www.indeed.co.in" target="_blank">Indeed India</a></li>
        </ul>
    </section>


    <section>
        <h2>Top Data Engineering Companies – Global</h2>
        <ul>
            <li><a href="https://www.amazon.jobs" target="_blank">Amazon (AWS)</a></li>
            <li><a href="https://careers.google.com" target="_blank">Google</a></li>
            <li><a href="https://careers.microsoft.com" target="_blank">Microsoft</a></li>
            <li><a href="https://careers.netflix.com" target="_blank">Netflix</a></li>
            <li><a href="https://careers.uber.com" target="_blank">Uber</a></li>
            <li><a href="https://careers.airbnb.com" target="_blank">Airbnb</a></li>
            <li><a href="https://www.ibm.com/careers" target="_blank">IBM</a></li>
            <li><a href="https://www.salesforce.com/company/careers/" target="_blank">Salesforce</a></li>
            <li><a href="https://www.oracle.com/corporate/careers/" target="_blank">Oracle</a></li>
        </ul>
    </section>

</main>

</body>
</html>
