{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java DSA & Enterprise Practice</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Java DSA Practice & Enterprise Resources</h1>
    <p class="subtitle">Spring Boot • Microservices • Java Collections • Cloud Native</p>


    <section>
        <h2>Java Study & Learning Resources</h2>
        <ul>
            <li><a href="https://dev.java" target="_blank">Dev.java (Official Oracle Learning)</a></li>
            <li><a href="https://www.baeldung.com" target="_blank">Baeldung (Advanced Java & Spring)</a></li>
            <li><a href="https://javarevisited.blogspot.com" target="_blank">Javarevisited (Java Interview Patterns)</a></li>
            <li><a href="https://roadmap.sh/java" target="_blank">Java Developer Roadmap 2025</a></li>
            <li><a href="https://takeuforward.org" target="_blank">Take U Forward (Striver’s Java DSA Sheet)</a></li>
            <li><a href="https://spring.io/guides" target="_blank">Spring Boot Official Guides</a></li>
            <li><a href="https://www.geeksforgeeks.org/java/" target="_blank">GeeksForGeeks Java Portal</a></li>
            <li><a href="https://www.w3schools.com/java/" target="_blank">W3Schools Java</a></li>
            <li><a href="https://www.hyperskill.org" target="_blank">JetBrains Academy (Java Track)</a></li>
            <li><a href="https://codegym.cc" target="_blank">CodeGym (Learn Java by Doing)</a></li>
            <li><a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp (Java Full Course)</a></li>
            <li><a href="https://ocw.mit.edu" target="_blank">MIT OpenCourseWare (Intro to Algorithms)</a></li>
            <li><a href="https://www.coursera.org" target="_blank">Coursera (Duke University Java)</a></li>
            <li><a href="https://www.udemy.com" target="_blank">Udemy (Tim Buchalka Java Masterclass)</a></li>
            <li><a href="https://java-design-patterns.com" target="_blank">Java Design Patterns</a></li>
        </ul>
    </section>


    <section>
        <h2>Java DSA Practice Platforms</h2>
        <ul>
            <li><a href="https://www.codingbat.com/java" target="_blank">CodingBat (Best for Java Logic)</a></li>
            <li><a href="https://leetcode.com" target="_blank">LeetCode (Java Solutions)</a></li>
            <li><a href="https://www.hackerrank.com/domains/java" target="_blank">HackerRank Java Domain</a></li>
            <li><a href="https://practice.geeksforgeeks.org" target="_blank">GFG Practice (Java Language)</a></li>
            <li><a href="https://www.codechef.com" target="_blank">CodeChef (Java CP)</a></li>
            <li><a href="https://www.interviewbit.com" target="_blank">InterviewBit (Java Prep)</a></li>
            <li><a href="https://www.codingninjas.com" target="_blank">Coding Ninjas (Java DSA)</a></li>
            <li><a href="https://codeforces.com" target="_blank">Codeforces</a></li>
            <li><a href="https://atcoder.jp" target="_blank">AtCoder</a></li>
            <li><a href="https://cses.fi/problemset" target="_blank">CSES Problem Set</a></li>
            <li><a href="https://www.spoj.com" target="_blank">SPOJ</a></li>
            <li><a href="https://exercism.org/tracks/java" target="_blank">Exercism Java Track</a></li>
        </ul>
    </section>


    <section>
        <h2>Java Contests & Coding Challenges</h2>
        <ul>
            <li><a href="https://leetcode.com/contest/" target="_blank">LeetCode Contests</a></li>
            <li><a href="https://www.codechef.com/contests" target="_blank">CodeChef Contests</a></li>
            <li><a href="https://codeforces.com/contests" target="_blank">Codeforces Rounds</a></li>
            <li><a href="https://atcoder.jp/contests" target="_blank">AtCoder Contests</a></li>
            <li><a href="https://icpc.global" target="_blank">ICPC (The Java CP Gold Standard)</a></li>
            <li><a href="https://meta-hacker-cup.com" target="_blank">Meta Hacker Cup</a></li>
            <li><a href="https://www.topcoder.com/challenges" target="_blank">TopCoder Challenges</a></li>
        </ul>
    </section>


    <section>
        <h2>Java Jobs – India (Portals)</h2>
        <ul>
            <li><a href="https://www.instahyre.com/java-jobs/" target="_blank">Instahyre (Java Startup Jobs)</a></li>
            <li><a href="https://www.hirist.com/c/java-jobs-1.html" target="_blank">Hirist (Premium Java Roles)</a></li>
            <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn India</a></li>
            <li><a href="https://www.naukri.com/java-developer-jobs" target="_blank">Naukri Java Jobs</a></li>
            <li><a href="https://cutshort.io" target="_blank">CutShort</a></li>
            <li><a href="https://www.indeed.co.in" target="_blank">Indeed India</a></li>
            <li><a href="https://wellfound.com" target="_blank">Wellfound (AngelList)</a></li>
        </ul>
    </section>


    <section>
    <h2>Global & Remote Java Portals</h2>
    <ul>
        <li><a href="https://www.turing.com/jobs/java-developer" target="_blank">Turing (Remote Java)</a></li>
        <li><a href="https://remoteok.io/remote-java-jobs" target="_blank">Remote OK</a></li>
        <li><a href="https://weworkremotely.com" target="_blank">We Work Remotely</a></li>
        <li><a href="https://arc.dev/remote-jobs/java" target="_blank">Arc.dev Java</a></li>
        <li><a href="https://www.flexjobs.com" target="_blank">FlexJobs</a></li>
        <li><a href="https://www.simplyhired.com" target="_blank">SimplyHired USA</a></li>
        <li><a href="https://www.glassdoor.com" target="_blank">Glassdoor Global</a></li>
        <li><a href="https://www.adzuna.com.au" target="_blank">Adzuna Australia</a></li>
    </ul>
</section>



    <section>
    <h2>Top Java Job Companies – India</h2>
    <ul>
        <li><a href="https://www.tcs.com/careers" target="_blank">TCS (Largest Java Employer)</a></li>
        <li><a href="https://www.infosys.com/careers" target="_blank">Infosys</a></li>
        <li><a href="https://www.hcltech.com/careers" target="_blank">HCLTech</a></li>
        <li><a href="https://www.wipro.com/careers" target="_blank">Wipro</a></li>
        <li><a href="https://careers.flipkart.com" target="_blank">Flipkart (Scalable Java Backend)</a></li>
        <li><a href="https://careers.swiggy.com" target="_blank">Swiggy</a></li>
        <li><a href="https://careers.zomato.com" target="_blank">Zomato</a></li>
        <li><a href="https://careers.phonepe.com" target="_blank">PhonePe (Java FinTech)</a></li>
        <li><a href="https://www.persistent.com/careers" target="_blank">Persistent Systems</a></li>
        <li><a href="https://careers.mphasis.com" target="_blank">Mphasis</a></li>
        <li><a href="https://www.techmahindra.com/en-in/careers/" target="_blank">Tech Mahindra</a></li>
        <li><a href="https://www.ltimindtree.com/careers/" target="_blank">LTIMindtree</a></li>
    </ul>
</section>



    <section>
    <h2>Top Java Job Companies – Global / Big Tech</h2>
    <ul>
        <li><a href="https://www.amazon.jobs" target="_blank">Amazon (AWS is built on Java)</a></li>
        <li><a href="https://careers.google.com" target="_blank">Google (Android & Enterprise)</a></li>
        <li><a href="https://careers.microsoft.com" target="_blank">Microsoft (Java on Azure)</a></li>
        <li><a href="https://www.oracle.com/corporate/careers/" target="_blank">Oracle (The Owner of Java)</a></li>
        <li><a href="https://careers.jpmorgan.com" target="_blank">JP Morgan Chase (Banking Java)</a></li>
        <li><a href="https://www.goldmansachs.com/careers" target="_blank">Goldman Sachs</a></li>
        <li><a href="https://careers.netflix.com" target="_blank">Netflix (Microservices Pioneer)</a></li>
        <li><a href="https://www.uber.com/careers" target="_blank">Uber</a></li>
        <li><a href="https://careers.adobe.com" target="_blank">Adobe</a></li>
        <li><a href="https://careers.ibm.com" target="_blank">IBM</a></li>
        <li><a href="https://www.salesforce.com/company/careers/" target="_blank">Salesforce</a></li>
    </ul>
</section>

</main>

</body>
</html>