{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Java Web Development Resources</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Java Web Development Resources</h1>
    <p class="subtitle">Servlets • JSP • Spring • Spring Boot • REST APIs • Deployment</p>

<section>
    <h2>Level 1: Java Basics & Core</h2>
    <ul>
        <li><a href="https://www.oracle.com/java/technologies/javase-jdk11-docs.html" target="_blank">Java Basics</a></li>
        <li><a href="https://www.w3schools.com/java/java_classes.asp" target="_blank">OOP Concepts in Java</a></li>
        <li><a href="https://www.geeksforgeeks.org/core-java-tutorials/" target="_blank">Core Java Tutorials</a></li>
        <li><a href="https://docs.oracle.com/javase/tutorial/collections/index.html" target="_blank">Java Collections Framework</a></li>
        <li><a href="https://www.baeldung.com/java-io" target="_blank">Java I/O</a></li>
        <li><a href="https://www.baeldung.com/java-json" target="_blank">JSON Handling in Java</a></li>
    </ul>
</section>

<section>
    <h2>Level 2: Web Fundamentals</h2>
    <ul>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/HTML" target="_blank">HTML Basics</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/CSS" target="_blank">CSS Basics</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript" target="_blank">JavaScript Basics</a></li>
        <li><a href="https://www.w3schools.com/bootstrap4/" target="_blank">Bootstrap & Responsive Design</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Learn/Server-side" target="_blank">Client-Server Architecture</a></li>
    </ul>
</section>

<section>
    <h2>Level 3: Servlets & JSP</h2>
    <ul>
        <li><a href="https://www.javatpoint.com/servlet-tutorial" target="_blank">Java Servlets Tutorial</a></li>
        <li><a href="https://www.javatpoint.com/jsp-tutorial" target="_blank">JavaServer Pages (JSP)</a></li>
        <li><a href="https://www.tutorialspoint.com/jsp/index.htm" target="_blank">JSP Examples & Projects</a></li>
        <li><a href="https://www.baeldung.com/servlets" target="_blank">Servlet Lifecycle & Filters</a></li>
        <li><a href="https://www.geeksforgeeks.org/jsp-implicit-objects-in-java/" target="_blank">JSP Implicit Objects</a></li>
        <li><a href="https://www.baeldung.com/jsp-servlet-integration" target="_blank">Servlet + JSP Integration</a></li>
    </ul>
</section>

<section>
    <h2>Level 4: JDBC & Database Integration</h2>
    <ul>
        <li><a href="https://www.javatpoint.com/jdbc-tutorial" target="_blank">JDBC Basics</a></li>
        <li><a href="https://www.baeldung.com/java-jdbc" target="_blank">JDBC Connection & Queries</a></li>
        <li><a href="https://www.geeksforgeeks.org/jdbc-insert-update-delete-records/" target="_blank">CRUD Operations with JDBC</a></li>
        <li><a href="https://www.baeldung.com/spring-jdbc" target="_blank">Spring JDBC Integration</a></li>
    </ul>
</section>

<section>
    <h2>Level 5: Spring Framework</h2>
    <ul>
        <li><a href="https://spring.io/projects/spring-framework" target="_blank">Spring Official Documentation</a></li>
        <li><a href="https://www.baeldung.com/spring-tutorial" target="_blank">Spring Core Concepts</a></li>
        <li><a href="https://www.tutorialspoint.com/spring/index.htm" target="_blank">Spring Beans & Dependency Injection</a></li>
        <li><a href="https://www.baeldung.com/spring-mvc-tutorial" target="_blank">Spring MVC Basics</a></li>
        <li><a href="https://spring.io/guides/gs/serving-web-content/" target="_blank">Spring MVC Project Example</a></li>
        <li><a href="https://www.baeldung.com/spring-security" target="_blank">Spring Security Basics</a></li>
    </ul>
</section>

<section>
    <h2>Level 6: Spring Boot</h2>
    <ul>
        <li><a href="https://spring.io/projects/spring-boot" target="_blank">Spring Boot Official Docs</a></li>
        <li><a href="https://spring.io/guides/gs/spring-boot/" target="_blank">Spring Boot Quickstart</a></li>
        <li><a href="https://www.baeldung.com/spring-boot" target="_blank">Spring Boot Annotations</a></li>
        <li><a href="https://www.baeldung.com/spring-boot-rest-api" target="_blank">Building REST APIs with Spring Boot</a></li>
        <li><a href="https://www.baeldung.com/spring-boot-security" target="_blank">Spring Boot Security</a></li>
        <li><a href="https://www.tutorialspoint.com/spring_boot/index.htm" target="_blank">Spring Boot Projects & Examples</a></li>
    </ul>
</section>

<section>
    <h2>Level 7: REST APIs & Microservices</h2>
    <ul>
        <li><a href="https://restfulapi.net/" target="_blank">REST API Concepts</a></li>
        <li><a href="https://spring.io/guides/gs/rest-service/" target="_blank">Spring Boot REST API Tutorial</a></li>
        <li><a href="https://www.baeldung.com/building-a-restful-web-service-with-spring-and-java-based-configuration" target="_blank">RESTful Web Services in Java</a></li>
        <li><a href="https://www.postman.com/" target="_blank">API Testing with Postman</a></li>
        <li><a href="https://swagger.io/docs/specification/about/" target="_blank">OpenAPI / Swagger Integration</a></li>
    </ul>
</section>

<section>
    <h2>Level 8: Deployment & DevOps</h2>
    <ul>
        <li><a href="https://www.digitalocean.com/community/tutorial_series/java-deployment" target="_blank">Deploy Java Apps on DigitalOcean</a></li>
        <li><a href="https://www.heroku.com/java" target="_blank">Deploy Java Apps on Heroku</a></li>
        <li><a href="https://aws.amazon.com/elastic-beanstalk/" target="_blank">AWS Elastic Beanstalk</a></li>
        <li><a href="https://www.docker.com/" target="_blank">Dockerize Java Applications</a></li>
        <li><a href="https://www.nginx.com/resources/wiki/start/topics/tutorials/reverseproxy/" target="_blank">Nginx as Reverse Proxy</a></li>
    </ul>
</section>

<div class="page-end-line"></div>
<div class="page-end-line"></div>

<section>
    <h2>Level 9: Practice Platforms & Projects</h2>
    <ul>
        <li><a href="https://www.hackerrank.com/domains/java" target="_blank">HackerRank Java Practice</a></li>
        <li><a href="https://www.kaggle.com/" target="_blank">Kaggle Projects in Java</a></li>
        <li><a href="https://www.coursera.org/projects" target="_blank">Coursera Guided Projects</a></li>
        <li><a href="https://www.javatpoint.com/java-projects" target="_blank">Java Web Projects & Tutorials</a></li>
    </ul>
</section>

<section>
    <h2>Level 10: Top Companies Using Java Web Development</h2>
    <ul>
        <li><a href="https://www.oracle.com/corporate/careers/" target="_blank">Oracle</a></li>
        <li><a href="https://www.ibm.com/careers" target="_blank">IBM</a></li>
        <li><a href="https://www.tcs.com/careers" target="_blank">TCS</a></li>
        <li><a href="https://www.infosys.com/careers.html" target="_blank">Infosys</a></li>
        <li><a href="https://www.capgemini.com/careers/" target="_blank">Capgemini</a></li>
        <li><a href="https://www.amazon.jobs/en/teams/java" target="_blank">Amazon</a></li>
        <li><a href="https://careers.google.com/" target="_blank">Google</a></li>
    </ul>
</section>



</main>

</body>
</html>
