{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'testprofiles/add_item.css' %}">

<div class="add-item-page">
  <h2>Add or Update Your Resume</h2>
  
  <form method="post" class="add-item-form">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="form-actions">
      <button type="submit" class="btn add-btn">Save</button>
      <a href="{% url 'testprofiles:profile' request.user.username %}" class="btn cancel-btn">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
