{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Python DSA Practice</title>
    <link rel="stylesheet" href="{% static 'collection/one.css' %}">
</head>
<body>

<main class="container">

    <h1>Python DSA Practice & Competitive Resources</h1>
    <p class="subtitle">Practice • Resources • Contests • Jobs • Companies</p>


    <!-- ================= STUDY ================= -->
    <section>
        <h2>Study & Learning Resources</h2>
        <ul>

            <li><a href="https://www.kaggle.com" target="_blank">Kaggle </a></li>
            <li><a href="https://medium.com" target="_blank">Medium </a></li>
            <li><a href="https://www.w3schools.com/" target="_blank">W3Schools </a></li>
            <li><a href="https://realpython.com" target="_blank">Real Python </a></li>
            <li><a href="https://www.analyticsvidhya.com" target="_blank">Analytics Vidhya </a></li>
            <li><a href="https://towardsdatascience.com" target="_blank">Towards Data Science – Medium</a></li>
            <li><a href="https://www.datacamp.com" target="_blank">DataCamp</a></li>
            <li><a href="https://takeuforward.org" target="_blank">Take U Forward (Striver)</a></li>
            <li><a href="https://cp-algorithms.com" target="_blank">CP Algorithms</a></li>
            <li><a href="https://www.freecodecamp.org" target="_blank">freeCodeCamp</a></li>
            <li><a href="https://ocw.mit.edu" target="_blank">MIT OpenCourseWare</a></li>
            <li><a href="https://www.coursera.org" target="_blank">Coursera</a></li>
            <li><a href="https://www.udemy.com" target="_blank">Udemy</a></li>
            <li><a href="https://www.edx.org" target="_blank">edX</a></li>
            <li><a href="https://www.khanacademy.org" target="_blank">Khan Academy</a></li>
            <li><a href="https://realpython.com" target="_blank">Real Python</a></li>
            <li><a href="https://docs.python.org/3/" target="_blank">Python Official Docs</a></li>
            <li><a href="https://roadmap.sh/python" target="_blank">Python Roadmap</a></li>
            <li><a href="https://www.programiz.com/python-programming" target="_blank">Programiz Python</a></li>
            <li><a href="https://cs50.harvard.edu" target="_blank">Harvard CS50</a></li>
            <li><a href="https://www.geeksforgeeks.org/python-programming-language/" target="_blank">GeeksForGeeks Python</a></li>
        </ul>
    </section>


    <!-- ================= PRACTICE ================= -->
    <section>
        <h2>Python DSA Practice Platforms</h2>
        <ul>
            <li><a href="https://www.kaggle.com" target="_blank">Kaggle –</a></li>
            <li><a href="https://leetcode.com" target="_blank">LeetCode</a></li>
            <li><a href="https://www.geeksforgeeks.org/dsa-python" target="_blank">GeeksForGeeks (Python DSA)</a></li>
            <li><a href="https://www.codechef.com" target="_blank">CodeChef</a></li>
            <li><a href="https://www.hackerrank.com" target="_blank">HackerRank</a></li>
            <li><a href="https://www.interviewbit.com" target="_blank">InterviewBit</a></li>
            <li><a href="https://www.codingninjas.com" target="_blank">Coding Ninjas</a></li>
            <li><a href="https://codeforces.com" target="_blank">Codeforces</a></li>
            <li><a href="https://atcoder.jp" target="_blank">AtCoder</a></li>
            <li><a href="https://cses.fi/problemset" target="_blank">CSES Problem Set</a></li>
            <li><a href="https://www.spoj.com" target="_blank">SPOJ</a></li>
            <li><a href="https://binarysearch.com" target="_blank">Binary Search</a></li>
            <li><a href="https://leetcode.com/problemset/all/" target="_blank">LeetCode Problemset</a></li>
            <li><a href="https://www.hackerearth.com/practice/" target="_blank">HackerEarth Practice</a></li>
            <li><a href="https://practice.geeksforgeeks.org" target="_blank">GFG Practice</a></li>
            <li><a href="https://exercism.org/tracks/python" target="_blank">Exercism Python</a></li>
        </ul>
    </section>


    <!-- ================= CONTESTS ================= -->
    <section>
        <h2>Contests & Coding Challenges</h2>
        <ul>
            <li><a href="https://www.kaggle.com" target="_blank">Kaggle </a></li>
            <li><a href="https://leetcode.com/contest/" target="_blank">LeetCode Contests</a></li>
            <li><a href="https://www.codechef.com/contests" target="_blank">CodeChef Contests</a></li>
            <li><a href="https://codeforces.com/contests" target="_blank">Codeforces Rounds</a></li>
            <li><a href="https://atcoder.jp/contests" target="_blank">AtCoder Contests</a></li>
            <li><a href="https://www.hackerearth.com/challenges/" target="_blank">HackerEarth Challenges</a></li>
            <li><a href="https://codingcompetitions.withgoogle.com" target="_blank">Google Coding Competitions</a></li>
            <li><a href="https://meta-hacker-cup.com" target="_blank">Meta Hacker Cup</a></li>
            <li><a href="https://icpc.global" target="_blank">ICPC</a></li>
            <li><a href="https://www.topcoder.com/challenges" target="_blank">TopCoder Challenges</a></li>
            <li><a href="https://www.codechef.com/long-challenge" target="_blank">CodeChef Long</a></li>
        </ul>
    </section>


    <!-- ================= COMPETITIVE PROGRAMMING ================= -->
    <section>
        <h2>Competitive Programming Platforms</h2>
        <ul>
            <li><a href="https://www.kaggle.com" target="_blank">Kaggle </a></li>
            <li><a href="https://codeforces.com" target="_blank">Codeforces</a></li>
            <li><a href="https://www.codechef.com" target="_blank">CodeChef</a></li>
            <li><a href="https://atcoder.jp" target="_blank">AtCoder</a></li>
            <li><a href="https://www.topcoder.com" target="_blank">TopCoder</a></li>
            <li><a href="https://www.spoj.com" target="_blank">SPOJ</a></li>
            <li><a href="https://open.kattis.com" target="_blank">Kattis</a></li>
            <li><a href="https://www.hackerrank.com" target="_blank">HackerRank</a></li>
            <li><a href="https://www.hackerearth.com" target="_blank">HackerEarth</a></li>
            <li><a href="https://binarysearch.com" target="_blank">Binary Search</a></li>
            <li><a href="https://leetcode.com" target="_blank">LeetCode</a></li>
        </ul>
    </section>


    <!-- ================= JOB PORTALS INDIA ================= -->
    <section>
        <h2>Python Jobs – India (Portals)</h2>
        <ul>
            <li><a href="https://www.kaggle.com" target="_blank">Kaggle </a></li>
            <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn India</a></li>
            <li><a href="https://www.naukri.com" target="_blank">Naukri</a></li>
            <li><a href="https://www.indeed.co.in" target="_blank">Indeed India</a></li>
            <li><a href="https://www.instahyre.com" target="_blank">Instahyre</a></li>
            <li><a href="https://cutshort.io" target="_blank">CutShort</a></li>
            <li><a href="https://www.hirist.com" target="_blank">Hirist</a></li>
            <li><a href="https://wellfound.com" target="_blank">Wellfound</a></li>
            <li><a href="https://www.foundit.in" target="_blank">Foundit</a></li>
            <li><a href="https://www.shine.com" target="_blank">Shine</a></li>
            <li><a href="https://www.timesjobs.com" target="_blank">TimesJobs</a></li>
        </ul>
    </section>


    <!-- ================= JOB PORTALS GLOBAL ================= -->
<section>
    <h2>Global Remote & Country-Specific Job Portals</h2>
    <ul>
        <!-- Remote-focused portals -->
        <li><a href="https://remoteok.io" target="_blank">Remote OK</a></li>
        <li><a href="https://weworkremotely.com" target="_blank">We Work Remotely</a></li>
        <li><a href="https://angel.co/jobs" target="_blank">AngelList (Startups)</a></li>
        <li><a href="https://toptal.com" target="_blank">Toptal</a></li>
        <li><a href="https://www.turing.com" target="_blank">Turing</a></li>
        <li><a href="https://flexjobs.com" target="_blank">FlexJobs</a></li>
        <li><a href="https://jobspresso.co" target="_blank">Jobspresso</a></li>
        <li><a href="https://workingnomads.co/jobs" target="_blank">Working Nomads</a></li>
        <li><a href="https://remotive.io" target="_blank">Remotive</a></li>
        <li><a href="https://justremote.co" target="_blank">JustRemote</a></li>
        <li><a href="https://virtualvocations.com" target="_blank">Virtual Vocations</a></li>
        <li><a href="https://powertheshell.com/jobs/" target="_blank">Power The Shell</a></li>

        <!-- USA Job Portals -->
        <li><a href="https://www.indeed.com" target="_blank">Indeed USA</a></li>
        <li><a href="https://www.glassdoor.com" target="_blank">Glassdoor USA</a></li>
        <li><a href="https://www.careerbuilder.com" target="_blank">CareerBuilder USA</a></li>
        <li><a href="https://www.monster.com" target="_blank">Monster USA</a></li>
        <li><a href="https://www.ziprecruiter.com" target="_blank">ZipRecruiter USA</a></li>
        <li><a href="https://www.simplyhired.com" target="_blank">SimplyHired USA</a></li>
        <li><a href="https://www.stackoverflow.com/jobs" target="_blank">Stack Overflow Jobs</a></li>
        <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn USA</a></li>

        <!-- Canada Job Portals -->
        <li><a href="https://www.jobbank.gc.ca" target="_blank">Job Bank Canada</a></li>
        <li><a href="https://www.workopolis.com" target="_blank">Workopolis</a></li>
        <li><a href="https://www.eluta.ca" target="_blank">Eluta.ca</a></li>
        <li><a href="https://ca.indeed.com" target="_blank">Indeed Canada</a></li>
        <li><a href="https://www.monster.ca" target="_blank">Monster Canada</a></li>

        <!-- UK Job Portals -->
        <li><a href="https://www.reed.co.uk" target="_blank">Reed UK</a></li>
        <li><a href="https://www.cv-library.co.uk" target="_blank">CV Library UK</a></li>
        <li><a href="https://www.totaljobs.com" target="_blank">TotalJobs UK</a></li>
        <li><a href="https://www.indeed.co.uk" target="_blank">Indeed UK</a></li>
        <li><a href="https://www.jobsite.co.uk" target="_blank">Jobsite UK</a></li>
        <li><a href="https://www.monster.co.uk" target="_blank">Monster UK</a></li>

        <!-- Germany Job Portals -->
        <li><a href="https://www.stepstone.de" target="_blank">StepStone Germany</a></li>
        <li><a href="https://www.jobware.de" target="_blank">Jobware Germany</a></li>
        <li><a href="https://www.indeed.de" target="_blank">Indeed Germany</a></li>
        <li><a href="https://www.monster.de" target="_blank">Monster Germany</a></li>
        <li><a href="https://www.xing.com/jobs" target="_blank">XING Jobs (Germany)</a></li>

        <!-- Australia Job Portals -->
        <li><a href="https://www.seek.com.au" target="_blank">Seek Australia</a></li>
        <li><a href="https://www.jobsearch.gov.au" target="_blank">JobSearch Australia</a></li>
        <li><a href="https://au.indeed.com" target="_blank">Indeed Australia</a></li>
        <li><a href="https://www.careerone.com.au" target="_blank">CareerOne Australia</a></li>
        <li><a href="https://www.adzuna.com.au" target="_blank">Adzuna Australia</a></li>

        <!-- Netherlands Job Portals -->
        <li><a href="https://www.indeed.nl" target="_blank">Indeed Netherlands</a></li>
        <li><a href="https://www.nationalevacaturebank.nl" target="_blank">Nationale Vacaturebank</a></li>
        <li><a href="https://www.monsterboard.nl" target="_blank">Monsterboard Netherlands</a></li>
        <li><a href="https://www.glassdoor.nl" target="_blank">Glassdoor Netherlands</a></li>

        <!-- France Job Portals -->
        <li><a href="https://www.pole-emploi.fr" target="_blank">Pôle Emploi France</a></li>
        <li><a href="https://www.apec.fr" target="_blank">APEC France</a></li>
        <li><a href="https://www.indeed.fr" target="_blank">Indeed France</a></li>

        <!-- India Job Portals (including international) -->
        <li><a href="https://www.naukri.com" target="_blank">Naukri India</a></li>
        <li><a href="https://www.timesjobs.com" target="_blank">TimesJobs India</a></li>
        <li><a href="https://www.indeed.co.in" target="_blank">Indeed India</a></li>
        <li><a href="https://www.shine.com" target="_blank">Shine India</a></li>
        <li><a href="https://cutshort.io" target="_blank">CutShort India</a></li>

        <!-- Japan Job Portals -->
        <li><a href="https://www.daijob.com" target="_blank">Daijob Japan</a></li>
        <li><a href="https://www.gaijinpot.com/jobs" target="_blank">GaijinPot Jobs (Japan)</a></li>
        <li><a href="https://www.careercross.com/en" target="_blank">CareerCross Japan</a></li>

        <!-- Singapore Job Portals -->
        <li><a href="https://www.jobscentral.com.sg" target="_blank">JobsCentral Singapore</a></li>
        <li><a href="https://www.jobstreet.com.sg" target="_blank">JobStreet Singapore</a></li>
        <li><a href="https://www.mycareersfuture.gov.sg" target="_blank">MyCareersFuture Singapore</a></li>

        <!-- UAE Job Portals -->
        <li><a href="https://www.bayt.com/en/uae/" target="_blank">Bayt UAE</a></li>
        <li><a href="https://www.naukrigulf.com" target="_blank">Naukri Gulf</a></li>
        <li><a href="https://www.gulftalent.com" target="_blank">GulfTalent UAE</a></li>

        <!-- South Africa Job Portals -->
        <li><a href="https://www.careers24.com" target="_blank">Careers24 South Africa</a></li>
        <li><a href="https://www.pnet.co.za" target="_blank">PNet South Africa</a></li>
        <li><a href="https://www.jobmail.co.za" target="_blank">JobMail South Africa</a></li>

        <!-- Brazil Job Portals -->
        <li><a href="https://www.catho.com.br" target="_blank">Catho Brazil</a></li>
        <li><a href="https://www.vagas.com.br" target="_blank">Vagas Brazil</a></li>
        <li><a href="https://www.infojobs.com.br" target="_blank">InfoJobs Brazil</a></li>
    </ul>
</section>



    <!-- ================= INDIA COMPANIES ================= -->
<section>
    <h2>Python Job Companies – India</h2>
    <ul>
        <!-- FAANG / Big Tech -->
        <li><a href="https://careers.google.com" target="_blank">Google India</a></li>
        <li><a href="https://www.amazon.jobs" target="_blank">Amazon India</a></li>
        <li><a href="https://www.metacareers.com" target="_blank">Meta (Facebook)</a></li>
        <li><a href="https://jobs.apple.com" target="_blank">Apple India</a></li>
        <li><a href="https://www.microsoft.com/careers" target="_blank">Microsoft India</a></li>

        <!-- Product & Unicorns -->
        <li><a href="https://careers.flipkart.com" target="_blank">Flipkart</a></li>
        <li><a href="https://careers.paytm.com" target="_blank">Paytm</a></li>
        <li><a href="https://careers.zomato.com" target="_blank">Zomato</a></li>
        <li><a href="https://careers.swiggy.com" target="_blank">Swiggy</a></li>
        <li><a href="https://careers.razorpay.com" target="_blank">Razorpay</a></li>
        <li><a href="https://careers.cred.club" target="_blank">CRED</a></li>
        <li><a href="https://careers.olaelectric.com" target="_blank">Ola</a></li>
        <li><a href="https://www.byjus.com/careers/" target="_blank">Byju’s</a></li>
        <li><a href="https://careers.meho.com" target="_blank">Meesho</a></li>
        <li><a href="https://careers.urbancompany.com" target="_blank">Urban Company</a></li>

        <!-- Service / MNC -->
        <li><a href="https://www.tcs.com/careers" target="_blank">TCS</a></li>
        <li><a href="https://www.infosys.com/careers" target="_blank">Infosys</a></li>
        <li><a href="https://careers.wipro.com" target="_blank">Wipro</a></li>
        <li><a href="https://www.hcltech.com/careers" target="_blank">HCL</a></li>
        <li><a href="https://careers.cognizant.com" target="_blank">Cognizant</a></li>
        <li><a href="https://careers.accenture.com" target="_blank">Accenture</a></li>
        <li><a href="https://jobs.capgemini.com" target="_blank">Capgemini</a></li>

        <!-- FinTech / Data / AI -->
        <li><a href="https://careers.phonepe.com" target="_blank">PhonePe</a></li>
        <li><a href="https://jobs.groww.in" target="_blank">Groww</a></li>
        <li><a href="https://careers.policybazaar.com" target="_blank">PolicyBazaar</a></li>
        <li><a href="https://careers.zerodha.com" target="_blank">Zerodha</a></li>
        <li><a href="https://www.intuit.com/careers/" target="_blank">Intuit India</a></li>
        <li><a href="https://careers.adobe.com" target="_blank">Adobe India</a></li>
        <li><a href="https://careers.oracle.com" target="_blank">Oracle India</a></li>
        <li><a href="https://careers.ibm.com" target="_blank">IBM India</a></li>
    </ul>
</section>



    <!-- ================= GLOBAL COMPANIES ================= -->
<section>
    <h2>Python Job Companies – Global / Remote</h2>
    <ul>
        <!-- FAANG / Big Tech -->
        <li><a href="https://careers.google.com" target="_blank">Google</a></li>
        <li><a href="https://www.amazon.jobs" target="_blank">Amazon</a></li>
        <li><a href="https://www.metacareers.com" target="_blank">Meta</a></li>
        <li><a href="https://jobs.apple.com" target="_blank">Apple</a></li>
        <li><a href="https://careers.microsoft.com" target="_blank">Microsoft</a></li>

        <!-- Global Product Companies -->
        <li><a href="https://careers.netflix.com" target="_blank">Netflix</a></li>
        <li><a href="https://careers.airbnb.com" target="_blank">Airbnb</a></li>
        <li><a href="https://stripe.com/jobs" target="_blank">Stripe</a></li>
        <li><a href="https://www.uber.com/careers" target="_blank">Uber</a></li>
        <li><a href="https://careers.lyft.com" target="_blank">Lyft</a></li>
        <li><a href="https://careers.spotify.com" target="_blank">Spotify</a></li>
        <li><a href="https://jobs.twitter.com" target="_blank">X (Twitter)</a></li>
        <li><a href="https://careers.snap.com" target="_blank">Snap</a></li>
        <li><a href="https://www.shopify.com/careers" target="_blank">Shopify</a></li>

        <!-- Remote-First Companies -->
        <li><a href="https://remoteok.com" target="_blank">RemoteOK</a></li>
        <li><a href="https://weworkremotely.com" target="_blank">We Work Remotely</a></li>
        <li><a href="https://jobs.github.com" target="_blank">GitHub</a></li>
        <li><a href="https://about.gitlab.com/jobs/" target="_blank">GitLab</a></li>
        <li><a href="https://automattic.com/work-with-us/" target="_blank">Automattic</a></li>
        <li><a href="https://www.elastic.co/careers" target="_blank">Elastic</a></li>
        <li><a href="https://careers.mozilla.org" target="_blank">Mozilla</a></li>
        <li><a href="https://canonical.com/careers" target="_blank">Canonical (Ubuntu)</a></li>

        <!-- Freelance / Contract / Remote Hiring -->
        <li><a href="https://www.toptal.com/careers" target="_blank">Toptal</a></li>
        <li><a href="https://www.turing.com/jobs" target="_blank">Turing</a></li>
        <li><a href="https://arc.dev" target="_blank">Arc.dev</a></li>
        <li><a href="https://www.flexjobs.com" target="_blank">FlexJobs</a></li>
        <li><a href="https://www.upwork.com" target="_blank">Upwork</a></li>
        <li><a href="https://remote.com/careers" target="_blank">Remote.com</a></li>
        <li><a href="https://wellfound.com/jobs" target="_blank">Wellfound (AngelList)</a></li>
        <li><a href="https://www.linkedin.com/jobs" target="_blank">LinkedIn Global Jobs</a></li>
    </ul>
</section>

</main>

</body>
</html>
